* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  font-family: Product Sans;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  min-height: 100vh;
  /* background-color: black; */
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainHeading {
  font-size: 5vw;
}

nav {
  position: fixed;
  justify-content: space-between !important;
  width: 100%;
  height: 10vh;
  background-color: #fff;
  padding: 0vw 7vw;
  z-index: 99;
}

.cntr-nav {
  width: 60%;
  height: 100%;
  /* background-color: orange; */
  justify-content: space-between;
}
.cntr-nav a {
  text-decoration: none;
  color: #333;
}
.cta {
  padding: 0.8vw 2vw;
  background: none;
  border: 1px solid #333;
  border-radius: 50px;
  font-size: 1vw;
}

.part-1 {
  padding-top: 10vh;
  width: 100%;
  height: 100vh;
  gap: 5vh;
  /* background-color: rgb(255, 225, 169); */
}

.part-1 h1 {
  width: 70%;
  text-align: center;
}
.mainHeading span {
  color: #a2a2a2;
}

.hero-section-btn {
  gap: 2vw;
}

.hero-section-btn button {
  color: #0077b6;
  border-color: #0077b6;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
.hero-section-btn button:nth-child(2) {
  background-color: #0077b6;
  color: #fff;
  border-color: #fff;
}

.hero-section-btn button:nth-child(1):hover {
  background-color: #0077b6;
  color: #fff;
  border-color: #fff;
  cursor: pointer;
}

.hero-section-btn button:nth-child(2):hover {
  color: #0077b6;
  border-color: #0077b6;
  background-color: #fff;
  cursor: pointer;
}
.part-2 {
  justify-content: space-evenly;
  width: 100%;
  height: 70vh;
  /* background-color: rgb(169, 255, 199); */
}

.lft-part-2 {
  position: relative;
  width: 25vw;
  height: 100%;
  /* background-color: #0077b6; */
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden;
}

.rght-part-2 {
  position: relative;
  width: 50vw;
  /* background-color: #0077b6; */
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
}

.strip {
  position: absolute;
  bottom: -8vh;
  background-color: #000000d9;
  width: 100%;
  height: 7vh;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.lft-part-2:hover .strip,
.rght-part-2:hover .strip {
  bottom: 0vh;
}

.lft-part-2 img,
.rght-part-2 img {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.lft-part-2:hover #part-2-imgOne,
.rght-part-2:hover #part-2-imgTwo {
  scale: 1.2;
}

.strip h2 {
  color: #fff;
}

.part-3 {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 0vw 10vw;
}

.mainP {
  font-size: 1.5vw;
  color: #333;
  text-align: center;
}

@media (max-width: 500px) {
  .part-1 {
    height: 65vh;
  }
  .mainHeading {
    font-size: 10vw;
  }
  .cta {
    padding: 3.8vw 8vw;
    font-size: 4vw;
  }
  .part-2 {
    flex-direction: column;
    /* height: 140vh; */
    gap: 10vh;
  }
  .lft-part-2 {
    width: 70vw;
    height: 70vh;
  }
  .rght-part-2 {
    width: 70vw;
  }
  .rght-part-2 img {
    width: 140%;
  }
}
